.about {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    overflow: hidden;

    &-title {
        h2 {
            font-size: 3rem;
            color: #67D4C1;
            text-transform: uppercase;
            text-align: center;

            &::after {
                background: #2d9180;
                width: 8rem;
                height: .4rem;
                border-radius: 1rem;
                content: '';
                display: block;
                margin: 0 auto;
            }
        }

        p {
            padding: 0 3rem;
        }
    }

    a {
        color: #67D4C1;
    }
}